# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> python=3.9
# platform: linux-64
# created-by: conda 25.5.0
# python 3.9.5
matplotlib
numpy
pandas
pillow
scipy
opencv
